<div class="row ">
    <div class="col-md-4 ">
        <button mat-raised-button color="primary" routerLink="adduser" class="mb-4">Add User</button>

        <ng-container *ngIf=" usersArr.length > 0; else noUsers">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let users of usersArr" role="button" routerLinkActive="active"
                    [routerLink]="['/users', users.userId]" [queryParams]="{ur:users.userRole}">
                    {{users.userName}} - {{users.userId}}

                    <span class="badge float-right" [ngClass]="{
                        'badge-success':users.isActive,
                        'badge-danger':!users.isActive
                    }">{{users.isActive? 'Active' : 'Inactive'}}</span>
                </li>
            </ul>
            <ng-template #noUsers>
                <div class="text-cente mt-4">
                    <h5 class="text-muted">No Users Found</h5>
                </div>
            </ng-template>
        </ng-container>
    </div>

    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>