<div class="row userInfo" *ngIf="userObj">
    <div class="col-md-4">
        <mat-card class="mat-elevation-z16">
            <img mat-card-image [src]="userObj.profileImage" alt="" title="">
            <h4 class="font-weight-bold">{{userObj.userName}} <small>{{userObj.userRole}}</small></h4>

            <p>{{userObj.profileDescription}}</p>

            <p class="d-flex justify-content-between">
                <button routerLink="edit" [queryParamsHandling]="'preserve'" mat-raised-button
                    color="primary">Edit</button>
                <button (click)="onUserRemove(userId)" mat-raised-button color="warn">Remove</button>

            </p>
        </mat-card>
    </div>
    <div class="col-md-8">
        <mat-card class="mat-elevation-z16 mb-4">
            <h3 class="font-weight-bold">Basic Information</h3>
            <p class="mb-2">User Id: {{userObj.userId}}</p>
            <p class="mb-2">ExperienceYears: {{userObj.experienceYears}}</p>

            <p class="mb-2" *ngIf="userObj">Status:
                <span class="badge fs-5" [ngClass]="{
            'badge-success': userObj.isActive,
            'badge-danger': !userObj.isActive
        }">
                    {{ userObj.isActive ? 'Active' : 'Inactive' }}
                </span>
            </p>
        </mat-card>

        <mat-card class="mat-elevation-z16 mb-4">
            <h4 class="font-weight-bold">Skills</h4>
            <ul class="list-group">

                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let skill of userObj.skills">{{skill}}</mat-chip>

                </mat-chip-list>

            </ul>
        </mat-card>
        <mat-card *ngIf="userObj as user" class="mat-elevation-z16 mb-4">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="font-weight-bold">Current Address</h4>
                    <p>{{ user.address.current.country }}</p>
                    <p>{{ user.address.current.state }}</p>
                    <p>{{ user.address.current.city }}</p>
                    <p>{{ user.address.current.zipcode }}</p>
                </div>

                <div class="col-md-6">
                    <h4 class="font-weight-bold">Permanent Address</h4>
                    <p>{{ user.address.permanent.country }}</p>
                    <p>{{ user.address.permanent.state }}</p>
                    <p>{{ user.address.permanent.city }}</p>
                    <p>{{ user.address.permanent.zipcode }}</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>